@page "/recuperar"

<PageTitle>Recuperar Clave</PageTitle>
<Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />

<div class="py-4">
    <div class=" row form-group ">
        <div class="">
            <div class="card border">
                <div class="card-body px-lg-5 pt-4">
                    <h3 class="col-12 text-success text-center py-2 label valign-text-middle inter-regular-normal-comet-16px">
                        <strong class="">Recuperar Clave</strong>
                    </h3>

                    <EditForm Model="usuarioRecuperacion" OnValidSubmit="RecuperarClave">
                        <DataAnnotationsValidator />

                        <div class="form-row py-2">
                            <InputText @bind-Value="usuarioRecuperacion.Email" id="email" placeholder="Nombre usuario..." class="form-control mb-2 label valign-text-middle inter-regular-normal-comet-14px" />
                            <ValidationMessage For="(() => usuarioRecuperacion.Email)"></ValidationMessage>
                        </div>

                        <div class="form-row d-grid gap-2 button-3 headingheadline4-h4">
                            <Button @ref="saveButton" Type="ButtonType.Submit" Color="ButtonColor.Success">
                                Recuperar
                            </Button>
                            <div class="d-md-flex justify-content-md-end mt-2">
                                <Button Type="ButtonType.Link" Color="ButtonColor.Link" To="acceder" class="label valign-text-middle inter-regular-normal-comet-16px"> Acceder </Button>
                            </div>
                        </div>
                    </EditForm>

                </div>
            </div>
        </div>
    </div>
</div>