@page "/editar-grupos/{Id:int}"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using ClientApp.Services.IService
@using ClientApp.Models;
@using SharedApp.Models.Dtos
@attribute [Authorize]
@inject NavigationManager NavigationManager

<style>
    .card {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0;
    }

    .card-header {
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-body {
        padding: 15px;
    }

    .card-footer {
        background-color: #f8f9fa;
        padding: 10px 15px;
        text-align: right;
        border-top: 1px solid #ddd;
    }

</style>

<PageTitle>Formulario de Esquema</PageTitle>

<EditForm Model="homologacion" OnValidSubmit="GuardarHomologacion" class="pt-4">
    <DataAnnotationsValidator />

    <div class="card border">
        <!-- Título -->
            <h1 class="title headlineheadline2-h2">Actualizar Registro de Entidad</h1>

        <div class="card-body px-lg-5 pt-4">
            <hr style="background-color:aliceblue" />
            @* <div class="form-row py-2">
            <label class="label valign-text-middle inter-regular-normal-comet-16px">Vista Código Homologado</label>
                <div class="col">
                    <InputText @bind-Value="homologacion.NombreHomologado" class="form-control" placeholder="ingresar..." />
                    <ValidationMessage For="(()=>homologacion.NombreHomologado)" />
                </div>
            </div> *@

            <div class="form-row py-2">
                <label class="label valign-text-middle inter-regular-normal-comet-16px">Texto a Mostrar en la Web</label>
                <div class="col">
                    <InputText @bind-Value="homologacion.MostrarWeb" class="form-control inter-regular-normal-comet-14px" placeholder="ingresar..." style="margin-top: 2% !important;" />
                    <ValidationMessage For="(()=>homologacion.MostrarWeb)" />
                </div>
            </div>

            <div class="form-row py-2">
                <label class="label valign-text-middle inter-regular-normal-comet-16px">Tooltip Web</label>
                <div class="col">
                    <InputText @bind-Value="homologacion.TooltipWeb" class="form-control inter-regular-normal-comet-14px" placeholder="ingresar..." style="margin-top: 2% !important;" />
                    <ValidationMessage For="(()=>homologacion.TooltipWeb)" />
                </div>
            </div>

        </div>
    </div>
</EditForm>

@* <div class="py-2 d-flex justify-content-end gap-2">
    <Button Color="ButtonColor.Secondary" @onclick="Regresar">
        Regresar
    </Button>
    <Button @ref="saveButton" Color="ButtonColor.Success" @onclick="async () => await GuardarHomologacion()">
        Guardar
    </Button>
</div> *@
<div class="py-2 d-flex justify-content-end gap-2">
    <a @onclick="Regresar">
        <div class="button">
            <img class="icons" src="admin/img/icons.svg" alt="Icons">
            <div class="button-1 headingheadline4-h4">Regresar</div>
        </div>
    </a>
    <div class="save-button-container">
        <Button @ref="saveButton" class="button-2" @onclick="async () => await GuardarHomologacion()"><div class="button-3 headingheadline4-h4">Guardar</div></Button>
    </div>
</div>
@code {
    private void Regresar()
    {
        NavigationManager.NavigateTo("/grupos");
    }
}