@page "/"
@page "/persona"
@using SharedApp.Models.Dtos;
@using SharedApp.Data;
@using Newtonsoft.Json;

<PageTitle>Buscador Andino</PageTitle>

<div class="search-area-wrapper">
    <div class="search-area container">
        <h3 class="search-header">BUSCADOR SERVICIOS DE EVALUACIÓN DE LA CONFORMIDAD ACREDITADOS EN LA CAN</h3>

        <TextSearch
          solicitudBusqueda="@solicitudBusqueda"
          HandleSearch="HandleSearchRequestAsync"
        />
    </div>
</div>

<div class="page-container">
    <div class="container">
        <FilterSelect
          selectedFilters="@solicitudBusqueda.Filtros"
        />
        <ResultGrid
            @ref="childComponentRef"
            solicitudBusqueda="@solicitudBusqueda"
        />
    </div>
</div>