@page "/"
@page "/persona"

<div style="display: flex; flex-direction: column; width: 100%;  height: 100vh; margin: 0; padding: 0; overflow: hidden;">
    <div style="flex: 1; display: flex; flex-direction: column; overflow: hidden;">
        <Banner />

        <div style="display: flex; flex-direction: row; width: 100%;">
            <InputSearch onClickSearch="@(x => onClickSearch(x.Item1, x.Item2))" />
            <SummaryCards PanelONA="PanelONA" HandlePanelONAChange="HandlePanelONAChange" />
        </div>

        <InputFilters
            onFilterChange="HandleFilterChange"
            isGridVisibleChanged="isGridVisibleChanged"
            isGridVisible="isGridVisible"
        />

        @if(isGridVisible) {
            <IndexGrilla
                iconUrls="iconUrls"
                ListDataDto="listBuscadorResultadoDataDto"
                listaEtiquetasGrilla="listaEtiquetasGrilla"
            />
        } else {
            <IndexCard
                iconUrls="iconUrls"
                ListDataDto="listBuscadorResultadoDataDto"
                listaEtiquetasGrilla="listaEtiquetasCards"
            />
        }
    </div>

    <InputPaginations
        TotalItems="TotalItems"
        TotalPages="TotalPages"
        DisplayPages="DisplayPages"
        ActivePageNumber="ActivePageNumber"
        ActivePageNumberChanged="ActivePageNumberChanged"
        DisplayPagesChanged="DisplayPagesChanged"
    />
</div>