@inject NavigationManager Navigation

<link href="/css/buscador-can/input-filters.css" rel="stylesheet">

<div class="panel-input-filters">
    <div class="panel-input-filters-title">
        @if(isFilterVisible) 
        {
            <div @onclick="() => isFilterVisible = false">Ocultar Filtros Avanzados</div>
        }
        else {
            <div @onclick="() => isFilterVisible = true">Filtros Avanzados</div>
        }
    </div>
    <div class="panel-input-filters-line" />
    <div class="panel-input-filters-img">
        @if(isGridVisible)
        {
            <div class="active" @onclick="() => _ = isGridVisibleChanged.InvokeAsync(false)">
                <img src="login/img/location-on.svg" alt="Cards" />
            </div>
        }
        else
        {
            <div class="active" @onclick="() => _ = isGridVisibleChanged.InvokeAsync(true)">
                <img src="login/img/format-list-bulleted-5.svg" alt="Grid" />
            </div>
        }
        <div @onclick="@(() => Navigation.NavigateTo("/acceder"))">
            <i class="fas fa-user" />
        </div>
    </div>
</div>
@if (isFilterVisible) {
    <div class="panel-input-filters-content">
        <div class="panel-input-filters-content-button">
            <label>Limpiar Filtro</label>
            <button type="button" @onclick="LimpiarFiltros">
                <span>Limpiar</span>
                <i class="fas fa-broom" />
            </button>
        </div>

        @if (listadeOpciones != null)
        {
            @for (int i = 0; i < listadeOpciones.Count; i++)
            {
                var currentIndex = i;
                <div class="col form-check-label" style="font-family: 'Inter-Medium', Helvetica, sans-serif !important; font-size: 12px !important;">
                    <label for="select-@currentIndex" class="form-label text-small" style="font-weight: bold;"
                            title="@listaEtiquetasFiltros?[currentIndex]?.TooltipWeb">
                        @listaEtiquetasFiltros?[currentIndex]?.MostrarWeb
                    </label>
                    <div>
                        <button class="btn btn-secondary dropdown-toggle custom-bg"
                                style="font-family: 'Inter-Medium', Helvetica, sans-serif !important; font-size: 11px !important;"
                                type="button"
                                id="dropdownMenuButton-@currentIndex"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Seleccionar @listaEtiquetasFiltros?[currentIndex]?.MostrarWeb
                        </button>
                        <ul class="dropdown-menu p-2" style="font-family: 'Inter-Medium', Helvetica, sans-serif !important; font-size: 11px !important;" aria-labelledby="dropdownMenuButton-@currentIndex">
                            @if (listadeOpciones?[currentIndex] != null)
                            {
                                @foreach (var opcion in listadeOpciones[currentIndex] ?? [])
                                {
                                    <li>
                                        <div class="form-check" style="display: flex; align-items: center;">
                                            <input class="form-check-input"
                                                    type="checkbox"
                                                    id="check-@currentIndex-@opcion.MostrarWeb"
                                                    style="border: 2px solid #007bff; width: 18px; height: 18px; margin-right: 8px;"
                                                    @onchange="(e) => CambiarSeleccion(opcion.MostrarWeb, currentIndex, e.Value)">
                                            <label class="form-check-label" for="check-@currentIndex-@opcion.MostrarWeb" style="margin: 0;">
                                                @opcion.MostrarWeb
                                            </label>
                                        </div>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
}
