<Modal @ref="modal" Size="ModalSize.ExtraLarge">
    @if (!string.IsNullOrEmpty(PdfUrl))
    {
        <iframe src="@PdfUrl" style="width: 100%; height: 600px; border: none;"></iframe>
    }
    else
    {
        <p>No se pudo cargar el PDF.</p>
    }
</Modal>