@page "/nueva-migarcion-excel"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization
@using SharedApp.Data
@using SharedApp.Models.Dtos
@attribute [Authorize]

<PageTitle>Formulario Migración Excel</PageTitle>

<EditForm EditContext="@editContext" class="pt-4">
    <DataAnnotationsValidator />

    <div class="card border">
        <div class="card-body px-lg-5 pt-4">
            <h3 class="text-success text-center py-2">
                <strong>Archivo migración</strong>
            </h3>

            <hr style="background-color:aliceblue" />

            <!-- Combo de selección de Ona -->
            <div class="form-row py-2">
                <div class="col-md-4">
                    <div>
                        <label class="col-form-label">Ona</label>
                    </div>
                    <Dropdown AutoClose="true">
                        <DropdownToggleButton Color="ButtonColor.Secondary">
                            @if (onaSelected?.Siglas != null)
                            {
                                @onaSelected.Siglas
                            }
                            else
                            {
                                <span>Seleccionar Ona</span>
                            }
                        </DropdownToggleButton>
                        <DropdownMenu>
                            @if (listaONAs != null)
                            {
                                @foreach (var opcion in listaONAs)
                                {
                                    <DropdownItem @onclick="async () => await CambiarSeleccionOna(opcion)">
                                        @opcion.Siglas
                                    </DropdownItem>
                                }
                            }
                        </DropdownMenu>
                    </Dropdown>
                </div>
            </div>

            <!-- Campo de archivo -->
            <div class="form-row py-2">
                <label class="col-form-label">Base Datos</label>
                <div class="col">
                    <InputFile @bind-Value="uploadedFile"
                               class="form-control"
                               placeholder="Archivo migración excel"
                               OnChange="OnInputFileChange" />
                    <ValidationMessage For="(() => uploadedFile)" />
                </div>
            </div>
            <div class="py-2">
                <hr style="background-color:aliceblue" />
                <div class="d-flex align-items-center">
                    <!-- Botón Guardar -->
                    <div class="ml-auto">
                        <Button @ref="saveButton"
                                Type="ButtonType.Submit"
                                Color="ButtonColor.Success"
                                @onclick="async () => await RegistrarMigracionExcel()">
                            Guardar
                        </Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>
