@page "/sinonimos"
@layout AdminLayout
@using SharedApp.Models.Dtos

<PageTitle>Sinónimos</PageTitle>

<h3>Administración de Sinónimos</h3>

@* <Grid @ref="grid" TItem="EsquemaVista" class="table table-hover table-bordered table-striped" DataProvider="EsquemaVistaDataProvider" Responsive="true">
    <GridColumn TItem="EsquemaVista" HeaderText="Nombre Campo Esquema" PropertyName="NombreEsquema">
        @context.NombreEsquema
    </GridColumn>
    <GridColumn TItem="EsquemaVista" HeaderText="Nombre Campo Vista" PropertyName="NombreVista">
        @context.NombreVista
    </GridColumn>
    <GridColumn TItem="EsquemaVista" HeaderText="Existe" PropertyName="IsValid">
        @context.IsValid
    </GridColumn>
</Grid> *@