@page "/nuevo-esquema"
@page "/editar-esquema/{Id:int}"
@layout AdminLayout
@using Microsoft.AspNetCore.Authorization;
@using ClientApp.Services.IService
@using SharedApp.Models.Dtos
@attribute [Authorize]

<PageTitle>Formulario de Esquema</PageTitle>

<EditForm EditContext="@editContext" class="pt-4">

    <div class="card border p-4">
        <h1 class="title headlineheadline2-h2">Esquema Homologado</h1>

        <hr style="background-color:aliceblue" />
        <div class="form-row py-2">
            <label class="label valign-text-middle inter-regular-normal-comet-16px">Mostrar web</label>
            <div class="col">
                <InputText @bind-Value="Esquema.MostrarWeb" class="form-control" placeholder="Mostrar web..." style="margin-top: 2% !important;" />
            </div>
        </div>

        <div class="form-row py-2">
            <label class="label valign-text-middle inter-regular-normal-comet-16px">Tooltip Web</label>
            <div class="col">
                <InputText @bind-Value="Esquema.TooltipWeb" class="form-control" placeholder="Tooltip Web..." style="margin-top: 2% !important;" />
            </div>
        </div>
        <div class="form-row py-2">
            <label class="label valign-text-middle inter-regular-normal-comet-16px">Esquema Vista</label>
            <div class="col">
                <InputText @bind-Value="Esquema.EsquemaVista" class="form-control" placeholder="Esquema vista..." style="margin-top: 2% !important;" />
            </div>

        </div>

        @*             <div class="form-row py-2">
        <label class="label valign-text-middle inter-regular-normal-comet-16px">Esquema Json</label>
        <div class="col">
        <InputText @bind-Value="Esquema.EsquemaJson" class="form-control" placeholder="Esquema Json..." />
        </div>
        </div> *@
        <div class="form-row py-2">
            <label class="label valign-text-middle inter-regular-normal-comet-16px">Buscar y agregar campo homologado</label>
            <div class="col">
                <AutoComplete @bind-Value="homologacionName"
                              TItem="HomologacionDto"
                              DataProvider="VwHomologacionDataProvider"
                              PropertyName="MostrarWeb"
                              Placeholder="Buscar..."
                              OnChanged="OnAutoCompleteChanged" />
            </div>
        </div>
    </div>
</EditForm>
<div class="py-2">
    <Grid TItem="HomologacionDto" class="table table-hover table-bordered table-striped" Data="lista" Responsive="true" FixedHeader="true" Height="350" Id="sortableGrid">
        <GridColumn TItem="HomologacionDto" HeaderText="Vista Código Homologado" PropertyName="NombreHomologado">
            @listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.NombreHomologado
            <input type="hidden" value="@context.IdHomologacion" />
        </GridColumn>
        <GridColumn TItem="HomologacionDto" HeaderText="Texto a Mostrar en la Web" PropertyName="MostrarWeb">
            @listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.MostrarWeb
        </GridColumn>
        <GridColumn TItem="HomologacionDto" HeaderText="Tooltip Web" PropertyName="TooltipWeb">
            @listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.TooltipWeb
        </GridColumn>
        <GridColumn TItem="HomologacionDto" HeaderText="Tipo de Dato" PropertyName="MascaraDato">
            @listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.MascaraDato
        </GridColumn>
        <GridColumn TItem="HomologacionDto" HeaderText="Si No Hay Dato" PropertyName="SiNoHayDato">
            @listaVwHomologacion?.FirstOrDefault(c => c.IdHomologacion == context.IdHomologacion)?.SiNoHayDato
        </GridColumn>
        <GridColumn TItem="HomologacionDto" HeaderText="Eliminar">
            <Button Color="ButtonColor.Danger" Outline="true" @onclick="() => EliminarElemento(context.IdHomologacion)" Size="ButtonSize.Small">
                <Icon Name="IconName.Trash3" />
            </Button>
        </GridColumn>
    </Grid>
</div>
@* <div class="py-2">
    <hr style="background-color:aliceblue" />
    <Button @ref="saveButton"
            Color="ButtonColor.Success"
            Type="ButtonType.Submit"
            @onclick="async () => await GuardarEsquema()">
        Guardar
    </Button>
</div> *@

@* <div class="py-2 d-flex justify-content-end gap-2">
    <Button Color="ButtonColor.Secondary" @onclick="Regresar">
        Regresar
    </Button>
    <Button @ref="saveButton" Color="ButtonColor.Success" @onclick="async () => await GuardarEsquema()">
        Guardar
    </Button>
</div> *@
<div class="py-2 d-flex justify-content-end gap-2">
    <a @onclick="Regresar">
        <div class="button">
            <img class="icons" src="admin/img/icons.svg" alt="Icons">
            <div class="button-1 headingheadline4-h4">Regresar</div>
        </div>
    </a>
    <div class="save-button-container">
        <Button @ref="saveButton" class="button-2" @onclick="async () => await GuardarEsquema()"><div class="button-3 headingheadline4-h4">Guardar</div></Button>
    </div>
</div>

@code {
    private void Regresar()
    {
        NavigationManager.NavigateTo("/esquemas");
    }
}
